/** Code By Webdevtrick ( https://webdevtrick.com ) **/
body {
    background-color: #7c7778;
    margin: 0 auto;
}

#container {
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
}

.neon,
.letterpress,
.stroke,
.gradient,
.threed,
.embossed,
.striped,
.knock {
    width: 400px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.neon {
    padding: 10px;
    color: pink;
    font: 60px 'Poiret One', cursive;
    box-shadow: inset 0px 0px 10px #ffbbbb, 0px 0px 10px #e60023;
    text-shadow: 0px 0px 10px #e60023, 2px 2px 4px #212121;
    border: 2px solid pink;
    border-radius: 15px;
}

h1 {
    font: bold 50px arial, sans-serif;
    background-color: black;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, .3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.letterpress {
    padding-top 10px;
    padding-bottom: 10px;
}

.stroke {
    font: 40px "Alfa Slab One", cursive;
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 0px 0px rgba(0, 0, 0, 1);
}

h2 {
    font: 50px "Monoton", cursive;
    background: -webkit-linear-gradient(80deg, #fff, #e60023);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
}

.threed {
    margin-top: 20px;
    font: bold 50px arial, sans-serif;
    color: #ccc;
    text-shadow: 4px 3px 0px #333,
        3px 0px 0px #333,
        2px 0px 0px #333,
        1px 0px 0px #333,
        3px 0px 15px rgba(0, 0, 0, .8),
        0px 4px 0px #444,
        0px 3px 0px #444,
        0px 2px 0px #444,
        0px 1px 0px #444;
}

.embossed {
    text-shadow: -1px -1px 0px rgba(255, 255, 255, .6), 1px 1px 0px rgba(0, 0, 0, 0.8);
    color: #555;
    opacity: .9;
    font: 40px "Alfa Slab One", cursive;
    letter-spacing: 3px;
}

.striped {
    font: bold 50px arial, sans-serif;
    background: repeating-linear-gradient(45deg,
            #fff,
            #fff 5px,
            #ddd 5px,
            #ddd 10px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -50px;
}

h4 {
    font: 40px "Monoton", cursive;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("https://images.pexels.com/photos/990824/pexels-photo-990824.jpeg?cs=srgb&dl=art-artistic-attractive-990824.jpg");
}

.knock {
    margin-top: -40px;
}